:root {
  --bg: #3c465c;
  --primary: #78ffcd;
  --solid: #fff;
  --btn-w: 10em;
  --dot-w: calc(var(--btn-w) * 0.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
